reindex
.libs
*.swp
*.slo
*.la
*.swo
*.lo
*~
*.o
print.txt
.rsync
*.tar.gz
dist
build[78]
build
tags
update-readme
*.tmp
test/Makefile
test/blib
test.sh
t.sh
t/t.sh
test/t/servroot/
releng
reset
*.t_
genmobi.sh
*.mobi
misc/chunked
ctags
src/base32.h
src/uri.c
src/module.c
src/upstream.c
src/upstream.h
src/uri.c
src/sql.c
src/uri.h
src/sql.h
src/uri.h
src/value.c
src/base32.c
src/value.h
src/hash.h
src/hash.c
